{% extends 'base_layout.html' %}
{% block content%}
{% load static %}
<body>
  <div class="ui container">
    <b>Products</b>
    <div class="ui four cards">
      <div class="card"  >
        <div class="image" onclick="redirect()">
          <img src="{% static '/products/'|add:names.0|add:'.jpg' %}">
        </div>
        <div class="header">{{ names.0 }}</div>
        <div class="meta">
          <a>550/- BDT </a>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="{{ star }}"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/'|add:names.1|add:'.jpg' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="{{ star }}"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/'|add:names.2|add:'.jpg' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/'|add:names.3|add:'.jpg' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/'|add:names.4|add:'.jpg' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/'|add:names.5|add:'.jpg' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>

        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/products/image.png' %}">
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      </div>
      <br><br>
      <b>Categories</b>
        <!-- categories -->
        <div class="ui cards">
    <div class="card" style="
    margin-left: 23px;
">
      <div class="content">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>
    <div class="card" style="
    margin-left: 112px;
">
      <div class="content" style="
    border-left-width: 0px;
    margin-left: 0px;
">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>
    <div class="card" style="
    margin-left: 100px;
">
      <div class="content">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>

  </div>
  <!-- categories -->
  <!-- categories -->
  <div class="ui cards">
    <div class="card" style="
    margin-left: 23px;
">
      <div class="content">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>
    <div class="card" style="
    margin-left: 112px;
">
      <div class="content" style="
    border-left-width: 0px;
    margin-left: 0px;
">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>
    <div class="card" style="
    margin-left: 100px;
">
      <div class="content">
        <div class="header">Elliot Fu</div>
        <div class="meta">Friend</div>
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
        <img class="ui middle aligned tiny image" src="/static/products/camera.jpg">
      </div>
    </div>
  </div>
  <!-- categories -->
  </div>
  <br>
  <script type="text/javascript">
    $('.ui.rating').rating({
      initialRating: {{ star }},
      maxRating: 5,

    });
  </script>
  <script>
    function redirect() {
      location.href="product/";
    }
  </script>
</body>
{% endblock %}
