<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is a semantic example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/rating.min.class"> -->

  </head>
  <body>
        <div class="ui container">
          <!-- THIS IS THE HEADER PART  -->
          <HEADER>
            
          </HEADER>
          <!-- END OF HEADER -->
          <!-- THIS IS THE MAIN PART -->
          <MAIN>
            
          </MAIN>
          <!-- END OF MAIN -->
          <!-- THIS THE FOOTER PART   -->
          <FOOTER>
            
          </FOOTER>
          <!-- END OF FOOTER -->
        </div>

















    <!-- these are the required scripts -->
      <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous">
                
      </script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      <script type="text/javascript">
        $('.ui.rating').rating({
      initialRating: 3,
      maxRating: 5
    });
      </script>
  </body>
</html>
